tags
kc
kc.1.manlint
compile.sh
release.sh
scan-build
scan-build.sh
regress/test*

# Core files
kc.core
core

# Vim swap files
.*.swp

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
