name: test

on:
  push:
    branches:
      - master

jobs:
  test1:
    name: readline test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Replace sh symlink
      run: sudo ln -sf bash /bin/sh

    - name: Set up environment variable for ssh agent information
      run: echo "::set-env name=SSH_AGENT_INFO::${HOME}/ssh-agent"

    - name: Start SSH agent and save the environment variables
      run: echo SSH_AGENT_INFO=${SSH_AGENT_INFO}; ssh-agent -s |fgrep -v echo > ${SSH_AGENT_INFO}

    - name: Install dependencies
      run: sudo apt install libbsd-dev libscrypt-dev libreadline-dev

    - name: build readline
      env:
        HAVE_LIBSCRYPT: yes
      run: make -f Makefile.linux
    - name: test
      run: eval $(< ${SSH_AGENT_INFO}); set |fgrep SSH; make -f Makefile.linux test

  test2:
    name: editline test
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Replace sh symlink
      run: sudo ln -sf bash /bin/sh

    - name: Set up environment variable for ssh agent information
      run: echo "::set-env name=SSH_AGENT_INFO::${HOME}/ssh-agent"

    - name: Start SSH agent and save the environment variables
      run: echo SSH_AGENT_INFO=${SSH_AGENT_INFO}; ssh-agent -s |fgrep -v echo > ${SSH_AGENT_INFO}

    - name: Install dependencies
      run: sudo apt install libbsd-dev libscrypt-dev libedit-dev libncurses-dev libncursesw5-dev

    - name: build editline
      env:
        EDITLINE: yes
        HAVE_LIBSCRYPT: yes
      run: make -f Makefile.linux
    - name: test
      run: eval $(< ${SSH_AGENT_INFO}); set |fgrep SSH; make -f Makefile.linux test
